#pianoContainer {
    display:flex;
    flex-direction: row;
}
#pianoContainer div{
    width: 50px;
    height: 200px;
    /* position: absolute;
    top:0;
    bottom:0; */
    display: block;
    border: solid 1px black;
    background-color: white;
}
#pianoContainer div.black{
    width: 50px;
    height: 100px;
    /* position: absolute;
    top:0;
    bottom:0; */
    display: block;
    border: solid 1px black;
    background-color: black;
    color: white;
}