.note {
    color: white;
    position: absolute;
    box-sizing: border-box;
}
.note div{
    /* background-color: black; */
    margin: 0 8px;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    border: solid 1px white;
}