<div class="display-root" #root>
  @if (currentLyric()) {
    <div class="lyrics-chip">{{ currentLyric() }}</div>
  }

  @for (note of notes().slice(0, 40); track note.midi + '-' + note.time) {
    <div class="note"
      [style.left.px]="getLeft(note.name)"
      [style.bottom.px]="((note.time*1000) - piano.curTime())/2"
      [style.width.px]="getKeyWidth(note.name)">
      <div class="note__body"
        [style.--note-color]="getNoteColor(note.name)"
        [style.height.px]="(note.duration * 1000)/2">
        <span>{{ note.name }}</span>
      </div>
    </div>
  }

  <p-toolbar styleClass="playback-bar">
    <ng-template #start>
      <p-tag
        [value]="(piano.curTime()/1000).toFixed(2) + 's'"
        icon="pi pi-clock"
        severity="secondary"
        [rounded]="true" />
    </ng-template>
    <ng-template #end>
      <p-button
        [icon]="piano.playing() ? 'pi pi-pause' : 'pi pi-play'"
        [label]="piano.playing() ? 'Pausar' : 'Retomar'"
        size="small"
        [rounded]="true"
        (onClick)="pause()" />
    </ng-template>
  </p-toolbar>
</div>
