<div *ngFor="let note of notes.slice(0, 40)" class="note" 
  [style.left]="posX[note.name] + 'px'" 
  [style.bottom]="((note.time*1000) - getTime())/2  + 'px'" 
  [style.width]="note.name.includes('#') ? '50px' : '60px'">

  <div [style.height]="(note.duration * 1000)/4 + 'px'" [style.background-color]="noteColors[note.name.slice(0, note.name.length - 1)]"> 
    <span>{{note.name}}</span>
  </div>
</div>

<label style="position: absolute; top: 180px; left: 10px;">TIME: {{getTime()/1000}}</label>
<label style="position: absolute; top: 200px; left: 10px;">NEXT: {{notes.length > 0 ? notes[0].time : ''}}</label>
<input type="button" (click)="pause()" style="position: absolute; top: 220px; left: 10px;" value="Pause">
 