.note {
    position: absolute;
    box-sizing: border-box;
}
.note div{
    /* background-color: black; */
    margin: 0 8px;
    border-radius: 10px;
    box-sizing: border-box;
    /* border: solid 1px black; */
    box-shadow: 0 0 10px #000;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
}
.note div span {
    text-align: center;
    width: 100%;
}